:root {
  --mouseX: 0%;
  --mouseY: 0%;
}

.layout-container {
  display: flex;
  min-width: 5000px;
  padding-right: 100vw;
  min-height: 5000px;
  overflow: hidden;
  user-select: none;
  transform: translate(var(--mouseX), var(--mouseY));
  transition: transform 0.1s;
  &.from-right {
    animation: fromRight 0.7s cubic-bezier(0.7, 0, 0.3, 1) 1;
  }
  &.out-to-left {
    animation: outToLeft 0.7s cubic-bezier(0.7, 0, 0.3, 1) 1 forwards;
  }
}
.layout {
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  transition: 0.3s;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: 0 10px 100px -50px rgba($color: black, $alpha: 0.1);
  }
  img {
    width: 100%;
    object-fit: cover;
    user-select: none;
  }
  input[type='checkbox'] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  input[type='checkbox'] + label {
    opacity: 0;
    pointer-events: none;
  }
  input[type='checkbox']:checked + label {
    pointer-events: initial;
    opacity: 1;
    cursor: url(../../img/cursors/cursor-pointer.png), auto;
    &:active {
      cursor: url(../../img/cursors/cursor-pointer-clicked.png), auto;
    }
  }

  &.a3 {
    $a3-width: 1211px;
    $a3-height: 856px;
    width: $a3-width;
    height: $a3-height;
    &.first-layout {
      left: calc((0.5 * 100vw) - (#{$a3-width} / 2));
      top: calc(0.5 * 100vh - (#{$a3-height} / 2));
    }
    &.right-top {
      right: (-$a3-width);
      top: 0;
    }
    &.right-bottom {
      right: (-$a3-width);
      bottom: 0;
    }
    &.left-top {
      left: (-$a3-width);
      top: 0;
    }
    &.left-bottom {
      left: (-$a3-width);
      bottom: 0;
    }
    &.top-left {
      top: (-$a3-height);
      left: 0;
    }
    &.top-right {
      top: (-$a3-height);
      right: 0;
    }
    &.bottom-left {
      bottom: (-$a3-height);
      left: 0;
    }
    &.bottom-right {
      bottom: (-$a3-height);
      right: 0;
    }
    // A3 middle
    &.middle-bottom-left {
      bottom: (-$a3-height);
      right: 50%;
    }
    &.middle-bottom-right {
      bottom: (-$a3-height);
      left: 50%;
    }
    &.middle-right-bottom {
      right: (-$a3-width);
      top: 50%;
    }
  }
  &.a4 {
    $a4-width: 856px;
    $a4-height: 605px;
    width: $a4-width;
    height: $a4-height;
    &.first-layout {
      left: calc(0.5 * 100vw - (#{$a4-width} / 2));
      top: calc(0.5 * 100vh - (#{$a4-height} / 2));
    }
    &.right-top {
      right: (-$a4-width);
      top: 0;
    }
    &.right-bottom {
      right: (-$a4-width);
      bottom: 0;
    }
    &.left-top {
      left: (-$a4-width);
      top: 0;
    }
    &.left-bottom {
      left: (-$a4-width);
      bottom: 0;
    }
    &.top-left {
      top: (-$a4-height);
      left: 0;
    }
    &.top-right {
      top: (-$a4-height);
      right: 0;
    }
    &.bottom-left {
      bottom: (-$a4-height);
      left: 0;
    }
    &.bottom-right {
      bottom: (-$a4-height);
      right: 0;
    }
    // A4 middle
    &.middle-bottom-left {
      bottom: (-$a4-height);
      right: 50%;
    }
    &.middle-bottom-right {
      bottom: (-$a4-height);
      left: 50%;
    }
    &.middle-right-bottom {
      right: (-$a4-width);
      top: 50%;
    }
  }
  &.first-layout {
    opacity: 1;
    pointer-events: initial;
    cursor: url(../../img/cursors/cursor-auto.png), auto;
  }

  @media screen and (max-height: 1000px), (max-width: 1350px) {
    &.a3 {
      $a3-width: 1020px;
      $a3-height: 721px;
      width: $a3-width;
      height: $a3-height;
      &.first-layout {
        left: calc((0.5 * 100vw) - (#{$a3-width} / 2));
        top: calc(0.5 * 100vh - (#{$a3-height} / 2));
      }
      &.right-top {
        right: (-$a3-width);
        top: 0;
      }
      &.right-bottom {
        right: (-$a3-width);
        bottom: 0;
      }
      &.left-top {
        left: (-$a3-width);
        top: 0;
      }
      &.left-bottom {
        left: (-$a3-width);
        bottom: 0;
      }
      &.top-left {
        top: (-$a3-height);
        left: 0;
      }
      &.top-right {
        top: (-$a3-height);
        right: 0;
      }
      &.bottom-left {
        bottom: (-$a3-height);
        left: 0;
      }
      &.bottom-right {
        bottom: (-$a3-height);
        right: 0;
      }
      // A3 middle
      &.middle-bottom-left {
        bottom: (-$a3-height);
        right: 50%;
      }
      &.middle-bottom-right {
        bottom: (-$a3-height);
        left: 50%;
      }
      &.middle-right-bottom {
        right: (-$a3-width);
        top: 50%;
      }
    }
    &.a4 {
      $a4-width: 721px;
      $a4-height: 510px;
      width: $a4-width;
      height: $a4-height;
      &.first-layout {
        left: calc(0.5 * 100vw - (#{$a4-width} / 2));
        top: calc(0.5 * 100vh - (#{$a4-height} / 2));
      }
      &.right-top {
        right: (-$a4-width);
        top: 0;
      }
      &.right-bottom {
        right: (-$a4-width);
        bottom: 0;
      }
      &.left-top {
        left: (-$a4-width);
        top: 0;
      }
      &.left-bottom {
        left: (-$a4-width);
        bottom: 0;
      }
      &.top-left {
        top: (-$a4-height);
        left: 0;
      }
      &.top-right {
        top: (-$a4-height);
        right: 0;
      }
      &.bottom-left {
        bottom: (-$a4-height);
        left: 0;
      }
      &.bottom-right {
        bottom: (-$a4-height);
        right: 0;
      }
      // A4 middle
      &.middle-bottom-left {
        bottom: (-$a4-height);
        right: 50%;
      }
      &.middle-bottom-right {
        bottom: (-$a4-height);
        left: 50%;
      }
      &.middle-right-bottom {
        right: (-$a4-width);
        top: 50%;
      }
    }
  }
  @media screen and (max-height: 850px), (max-width: 1170px) {
    &.a3 {
      $a3-width: 870px;
      $a3-height: 615px;
      width: $a3-width;
      height: $a3-height;
      &.first-layout {
        left: calc((0.5 * 100vw) - (#{$a3-width} / 2));
        top: calc(0.5 * 100vh - (#{$a3-height} / 2));
      }
      &.right-top {
        right: (-$a3-width);
        top: 0;
      }
      &.right-bottom {
        right: (-$a3-width);
        bottom: 0;
      }
      &.left-top {
        left: (-$a3-width);
        top: 0;
      }
      &.left-bottom {
        left: (-$a3-width);
        bottom: 0;
      }
      &.top-left {
        top: (-$a3-height);
        left: 0;
      }
      &.top-right {
        top: (-$a3-height);
        right: 0;
      }
      &.bottom-left {
        bottom: (-$a3-height);
        left: 0;
      }
      &.bottom-right {
        bottom: (-$a3-height);
        right: 0;
      }
      // A3 middle
      &.middle-bottom-left {
        bottom: (-$a3-height);
        right: 50%;
      }
      &.middle-bottom-right {
        bottom: (-$a3-height);
        left: 50%;
      }
      &.middle-right-bottom {
        right: (-$a3-width);
        top: 50%;
      }
    }
    &.a4 {
      $a4-width: 615px;
      $a4-height: 435px;
      width: $a4-width;
      height: $a4-height;
      &.first-layout {
        left: calc(0.5 * 100vw - (#{$a4-width} / 2));
        top: calc(0.5 * 100vh - (#{$a4-height} / 2));
      }
      &.right-top {
        right: (-$a4-width);
        top: 0;
      }
      &.right-bottom {
        right: (-$a4-width);
        bottom: 0;
      }
      &.left-top {
        left: (-$a4-width);
        top: 0;
      }
      &.left-bottom {
        left: (-$a4-width);
        bottom: 0;
      }
      &.top-left {
        top: (-$a4-height);
        left: 0;
      }
      &.top-right {
        top: (-$a4-height);
        right: 0;
      }
      &.bottom-left {
        bottom: (-$a4-height);
        left: 0;
      }
      &.bottom-right {
        bottom: (-$a4-height);
        right: 0;
      }
      // A4 middle
      &.middle-bottom-left {
        bottom: (-$a4-height);
        right: 50%;
      }
      &.middle-bottom-right {
        bottom: (-$a4-height);
        left: 50%;
      }
      &.middle-right-bottom {
        right: (-$a4-width);
        top: 50%;
      }
    }
  }
}

.cantunsee-link {
  position: absolute;
  display: inline-block;
  bottom: 40px;
  left: 40px;
  a {
    font-size: 30px;
    color: $yellow;
  }
}

// ANIMATIONS
@keyframes fromRight {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes outToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}
