:root {
  --mouseX: 0%;
  --mouseY: 0%;
}

@import 'colors.scss';

html {
  overflow: hidden;
}
body {
  position: relative;
  background-color: whitesmoke;
  background: url(../../img/paperBack.jpg);
  background-position: var(--mouseX) var(--mouseY);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Merriweather', sans-serif;

  cursor: url(../../img/cursors/cursor-auto.png), auto;
}
a,
.link {
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  cursor: url(../../img/cursors/cursor-pointer.png), auto;
  &:active {
    cursor: url(../../img/cursors/cursor-pointer-clicked.png), auto;
  }
}

.button-next {
  position: absolute;
  width: 220px;
  height: 100px;
  background-image: url(../../img/ctaProcess.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 80px !important;
  }
}

.no-display-next-layout {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
}

.shake:hover {
  animation: shake 0.3s infinite !important;
}

.arrow-container-hover {
  .arrow {
    position: relative;
    width: 50px;
    height: 10px;
    background-color: $blackGrey;
    border-radius: 0 20px 20px 0;
    transition: 0.2s;
    z-index: 1000;
    @mixin arrowTip {
      content: '';
      position: absolute;
      right: 0px;
      width: 30px;
      height: 10px;
      background-color: inherit;
      transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &::before {
      @include arrowTip;
      bottom: 0;
      border-bottom-right-radius: 100px;
      transform-origin: bottom right;
      z-index: -1;
    }
    &::after {
      @include arrowTip;
      top: 0;
      border-top-right-radius: 100px;
      transform-origin: top right;
      z-index: 1;
    }
    @media (any-hover: none) {
      &::before {
        transform: rotate(45deg) translateY(3px) !important;
      }
      &::after {
        transform: rotate(-45deg) translateY(-3px) !important;
      }
    }
    &.white {
      background-color: white;
    }
    &.to-left {
      transform: rotate(180deg);
    }
  }
  &:hover {
    .arrow {
      &::before {
        transform: rotate(45deg) translateY(3px);
      }
      &::after {
        transform: rotate(-45deg) translateY(-3px);
      }
    }
  }
}

.mobile-overlay {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
  background-color: $yellow;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  span {
    width: 500px;
    font-size: 24px;
    text-align: center;
    line-height: 1.5em;
    user-select: none;
    padding: 30px;
  }
}

@keyframes shake {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  10% {
    transform: translate(-0.5px, -1px) rotate(-0.5deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(0.5deg);
  }
  30% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }
  50% {
    transform: translate(-0.5px, 2px) rotate(-0.5deg);
  }
  60% {
    transform: translate(-1px, 0.5px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 0.5px) rotate(-0.5deg);
  }
  80% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }
  90% {
    transform: translate(0.5px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(0.5px, -1px) rotate(-0.5deg);
  }
}

@import 'index.scss';
@import 'inspirationsAndUs.scss';
@import 'layouts.scss';
@import 'nextButtons.scss';
@import 'cartes.scss';
@import 'swap.scss';

@media screen and (max-height: 670px), (max-width: 1000px) {
  body,
  .body-container {
    overflow: hidden !important;
    pointer-events: none !important;
  }
  .mobile-overlay {
    display: flex;
  }
}
